/target

# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.venv*/
dist/
uv.lock

.DS_Store

*.egg-info/

/.vscode
/*.session.sql

.mypy_cache
.dmypy.json

# LMDB files
*.mdb

# Output of `cocoindex eval`
examples/**/eval_*
examples/**/uv.lock
**/lancedb_data/

# CocoIndex Code (ccc)
/.cocoindex_code/
